<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Logged in User</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>HEYHEYHEYHEYHEYHEYEHYEHYE</h1>
        Weclcome {{request.user}}
        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In exercitationem temporibus corporis amet, distinctio esse necessitatibus unde, accusantium dicta, omnis veritatis ducimus voluptatum. Id rem repellendus aspernatur quae, porro iste.</P>
        <a href="/logout">Logout</a>
    </body>
    
</html>